@import "tailwindcss";

@variant dark (&:is(.dark *));

@theme {
  --color-primary-light: #606468;
  --color-primary-dark: #3E434C;
  --color-left-nav-light: #e1e1e1;
  --color-left-nav-dark: #181818;
  --color-right-nav-light: #ffffff;
  --color-right-nav-dark: #212121;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  overscroll-behavior: none;
}

body {
  margin: 0;
  padding: 0;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-smooth {
  scroll-behavior: smooth;
}