@import "tailwindcss";

@variant dark (&:is(.dark *));

@theme {
  --color-primary-light: #606468;
  --color-primary-dark: #3E434C;
  --color-left-nav-light: #e1e1e1;
  --color-left-nav-dark: #181818;
  --color-right-nav-light: #ffffff;
  --color-right-nav-dark: #212121;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  overscroll-behavior: none;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

* {
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out, border-color 300ms ease-in-out;
}

body {
  margin: 0;
  padding: 0;
}